<!--
  Generated template for the CustomerinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/imgs/logo.png" class="logonav"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="formgroup">

    <ion-list>

      <ion-item class="alignele">
        <ion-label stacked>Name *</ion-label>
        <ion-input type="text" [(ngModel)]="myName" formControlName="name" placeholder="John"></ion-input>
      </ion-item>


      <ion-item class="alignele">
        <ion-label stacked>Surname *</ion-label>
        <ion-input type="text" [(ngModel)]="mySurname" formControlName="surname" placeholder="Doe"></ion-input>
      </ion-item>

      <div padding class="alignele">
        <ion-segment formControlName="birthdate">
          <ion-segment-button value="< 30" class="btngender">
            < 30 y.o.
            </ion-segment-button>
              <ion-segment-button value="> 30" class="btngender">
                > 30 y.o.
              </ion-segment-button>
        </ion-segment>
      </div>

      <div padding class="alignele">
        <!-- <h2 style="color:grey">Gender</h2> -->
        <ion-segment formControlName="gender">
          <ion-segment-button value="Male" class="btngender">
            Male
          </ion-segment-button>
          <ion-segment-button value="Female" class="btngender">
            Female
          </ion-segment-button>
        </ion-segment>
      </div>

      <ion-item class="alignele">
        <ion-label stacked>Email </ion-label>
        <ion-input type="email" [(ngModel)]="myEmail" formControlName="email" placeholder="johndoe@gmail.com"></ion-input>
      </ion-item>

      <ion-item class="alignele">
        <ion-label stacked>Phone Number</ion-label>
        <p item-left class='input-prefix'>+961</p>
        <ion-input class="has-prefix" type="number" minlength="8" maxlength="8" formControlName="number" placeholder="12345678"></ion-input>
      </ion-item>

      <ion-item class="alignele">
        <ion-label stacked>Brand you usually smoke *</ion-label>
        <ion-select interface="action-sheet"  [(ngModel)]="chosenCigaretteBrand" formControlName="cigaretteBrand" placeholder="None" (ionChange)="chosenCigarette==null">
          <ion-option *ngFor="let n of cigaretteBrands" [value]="n">{{n.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="alignele">
        <ion-label stacked>Brand Name *</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="chosenCigarette" formControlName="cigarette" *ngIf= "chosenCigaretteBrand != {}
         && chosenCigaretteBrand.cigarettes && chosenCigaretteBrand.cigarettes.length > 0; else fakeInput "
        placeholder="Please select">
          <ion-option *ngFor="let p of chosenCigaretteBrand.cigarettes" [value]="p">{{p}}</ion-option>
        </ion-select>
        <ng-template #fakeInput>
        <ion-input type="text" [(ngModel)]="chosenCigarette"
        placeholder="Please select a valid cigarett brand"
         formControlName="cigarette" [disabled]="1"></ion-input>
         </ng-template>

      </ion-item>


      <ion-item class="alignele">
        <ion-label stacked>Chosen promotions *</ion-label>
        <ion-select interface="action-sheet"  formControlName="promotion" placeholder="None" (ionChange)="chosePromotion()">
          <ion-option *ngFor="let n of promotions" [value]="n">{{n.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="alignele" *ngIf= "promotion.value != null && promotion.value != ''">
        <ion-label stacked>Promotions "{{promotion.value.name}}"</ion-label>
        <ion-select interface="action-sheet"  [(ngModel)]="promotionItem1"
        [ngModelOptions]="{standalone: true}"
        placeholder="None">
          <ion-option *ngFor="let p of promotion.value.options" [value]="p">{{p}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="alignele" *ngIf= "promotionItem1 != null">
        <ion-label stacked>Promotions "{{promotion.value.name}}"</ion-label>
        <ion-select interface="action-sheet"  [(ngModel)]="promotionItem2"
        [ngModelOptions]="{standalone: true}"
        placeholder="None">
          <ion-option *ngFor="let p of promotion.value.options" [value]="p">{{p}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>


  </form>

  <!-- <button ion-button class="center"  (click)="submit()" >Save</button> -->

  <button ion-button class="center" [disabled]="!submittable" (click)="submit()" >Save</button>

</ion-content>
