<!--
  Generated template for the CustomerinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/imgs/logo.png" class="logonav"></ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>


	<form [formGroup]="formgroup">

		<ion-list>
			<ion-item class="alignele">
				<ion-label floating>Name *</ion-label>
		  		<ion-input type="text" [(ngModel)]="myName" formControlName="name"></ion-input>
			</ion-item>


			<ion-item class="alignele">
				<ion-label floating>Surname *</ion-label>
		  		<ion-input type="text" [(ngModel)]="mySurname" formControlName="surname"></ion-input>
			</ion-item>
			<!-- <ion-item *ngIf="surname.hasError('required') && surname.touched">
				<p>Surname is required </p>
			</ion-item> -->

		<!-- <ion-item>
		  <ion-label floating>Birthdate</ion-label>
		  <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DDDD MMMM YYYY" [(ngModel)]="myDate" formControlName="birthdate"></ion-datetime>
		</ion-item> -->

		<!-- <ion-item class="alignele">
			<div padding>
				<h2 style="color:grey">Age</h2>
			  <ion-segment formControlName="birthdate">
			      <ion-segment-button value="younger" class="btngender">
			        -30
			      </ion-segment-button>
			      <ion-segment-button value="older" class="btngender">
			        30+
			      </ion-segment-button>
			    </ion-segment>
			</div>
		</ion-item> -->

		<ion-item class="alignele">
			<div padding>
				<h2 style="color:grey">Age</h2>
			  <ion-segment formControlName="birthdate">
			      <ion-segment-button value="younger" class="btngender">
			        18-25
			      </ion-segment-button>
			      <ion-segment-button value="middle" class="btngender">
			        26-35
			      </ion-segment-button>
			      <ion-segment-button value="older" class="btngender">
			        35+
			      </ion-segment-button>
			    </ion-segment>
			</div>
		</ion-item>

		<ion-item class="alignele">
		  <!-- <ion-label floating>Gender</ion-label>
		  <ion-select [(ngModel)]="myGender" formControlName="gender">
		    <ion-option value="f">Female</ion-option>
		    <ion-option value="m">Male</ion-option>
		  </ion-select> -->
			<div padding>
				<h2 style="color:grey">Gender</h2>
			  <ion-segment formControlName="gender">
			      <ion-segment-button value="Male" class="btngender">
			        M
			      </ion-segment-button>
			      <ion-segment-button value="Female" class="btngender">
			        F
			      </ion-segment-button>
			    </ion-segment>
			</div>
		</ion-item>

			<ion-item class="alignele">
				<ion-label floating >Email </ion-label>
		  		<ion-input type="email" [(ngModel)]="myEmail" formControlName="email"></ion-input>
			</ion-item>

			<ion-item *ngIf="email.hasError('pattern') && email.touched">
				<p>Email is invalid </p>
			</ion-item>


			<ion-item class="alignele">
			    <ion-label floating>Phone Number *</ion-label>
			    <ion-input type="text" [(ngModel)]="myNum" formControlName="number"></ion-input>
			</ion-item>
			
			<ion-item class="alignele">
			<ion-label>Which brand do you usually smoke</ion-label>
			    <ion-select [(ngModel)]="mybrand" formControlName="brand">
			      <ion-option value="Allure Black KS">Allure Black KS</ion-option>
			      <ion-option value="Allure Black SS">Allure Black SS</ion-option>
			      <ion-option value="Allure White KS">Allure White KS</ion-option>
			      <ion-option value="Allure White SS">Allure White SS</ion-option>
			      <ion-option value="Bond 100 SC">Bond 100 SC</ion-option>
			      <ion-option value="6">Bond Blue SS</ion-option>
			      <ion-option value="7">Brilliant Blue</ion-option>
			      <ion-option value="8">Brilliant SS</ion-option>
			      <ion-option value="9">Camel Blue</ion-option>
			      <ion-option value="10">Camel Yellow</ion-option>
			      <ion-option value="11">Cedars Blue Plus 100 SC</ion-option>
			      <ion-option value="12">Cedars Plus FF</ion-option>
			      <ion-option value="13">Cedars Plus Silver</ion-option>
			      <ion-option value="14">Cedars Plus 100 SC</ion-option>
			      <ion-option value="15">Cedars soft 100s</ion-option>
			      <ion-option value="16">Chesterfield 100 SC</ion-option>
			      <ion-option value="17">Chesterfield KS SC</ion-option>
			      <ion-option value="18">Gauloises Blue</ion-option>
			      <ion-option value="19">Gauloises Red</ion-option>
			      <ion-option value="20">Gauloises Yellow</ion-option>
			      <ion-option value="21">Gitanes Blue</ion-option>
			      <ion-option value="22">Gitanes Indigo</ion-option>
			      <ion-option value="23">Gitanes ss</ion-option>
			      <ion-option value="24">Glamour Menthol</ion-option>
			      <ion-option value="25">Glamour Pink</ion-option>
			      <ion-option value="26">Marlboro 100s</ion-option>
			      <ion-option value="27">Marlboro Filter Plus</ion-option>
			    </ion-select>
			</ion-item>

			<ion-item class="alignele">
			<ion-label>How many promotion did you get?</ion-label>
			    <ion-select [(ngModel)]="mypromotion" formControlName="promotion">
			      <ion-option value="1">None</ion-option>
			      <ion-option value="2">1</ion-option>
			      <ion-option value="3">2</ion-option>
			    </ion-select>
			</ion-item>

			<ion-item class="alignele">
			<ion-label>Chosen Promotion 1</ion-label>
			    <ion-select [(ngModel)]="mypromotion1" formControlName="promotion1">
			      <ion-option value="1">None</ion-option>
			      <ion-option value="2">Kent Blue</ion-option>
			      <ion-option value="3">Kent Silver</ion-option>
			      <ion-option value="4">Kent Nano</ion-option>
			      <ion-option value="5">Kent Switch</ion-option>
			    </ion-select>
			</ion-item>

			<ion-item class="alignele">
			<ion-label>Chosen Promotion 2</ion-label>
			    <ion-select [(ngModel)]="mypromotion" formControlName="promotion2">
			      <ion-option value="1">None</ion-option>
			      <ion-option value="2">Kent Blue</ion-option>
			      <ion-option value="3">Kent Silver</ion-option>
			      <ion-option value="4">Kent Nano</ion-option>
			      <ion-option value="5">Kent Switch</ion-option>
			    </ion-select>
			</ion-item>

			<ion-label></ion-label>

		</ion-list>
		
		
	</form>


<!-- <button ion-button class="center" [disabled]="!formgroup.valid" click="saveData()">Submit</button> -->
<button ion-button class="center" click="saveData()">Submit</button>
<button ion-button class="center" click="loadData()">Submit</button>

</ion-content>



